*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
}


body{
    background:#4d4dff;
    width: 100%;

}

.her-row{
    position: sticky;
    top: 0;
    
}
.header{
   
    background:linear-gradient(rgb(16, 5, 166)  10%, 40%, rgb(120, 8, 168) 90%);
    height: 10vh;
    
}
.logo{
    float: left;
    margin: 2vh;
    width: 40vh;
    font-size: 20px;
}

.navbar{
    float: right;
    margin: 2vh;
    width: 40vh;
    font-size: 20px;
    

}
a {
    color: #2c0811;
}
section{
    width: auto;
}


.About{
    /* background-image: linear-gradient(to bottom right,  #130555, #3e21bf, #b82fc7, rgb(88, 4, 67)); */
    background:linear-gradient(blue  10%, 40%, black 90%);
    height: 90vh;
    
} 
.About   h1{
    font-size: 50px;
    text-align: center;
    font-weight:1000 ;
    
}
.col-1{
    width: 75%;
    float: left;
    
}
.dis{
    padding: 8vh;
}
.dis .pa p {
    font-size: large;
    font-weight: 100;
}


.About .images1{
    width: 20%;
    float: left;
}
.About .images1 img{
    padding: 10px;
}
.Logo{
    margin: 20px;
}
.Logo img{

    width: 45px;
    padding: 3px;

}


    
  
  






.Projects{
    background:linear-gradient(black  10%, 40%, blue 80%);
    height: 90vh;
}
.Blog{
    background:linear-gradient(blue  10%, 40%, black 90%);
    height: 90vh;
    
}

.footer{
    background:linear-gradient(black  10%, 40%, blue 90%);
    padding: 30px;
}
@media screen and (max-width: 800px) {
     .col-1{
        width: 100%;
     }
     
     .images1{
        margin: 0 35vw 0 35vw;
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }
